table {
  border-spacing: 100px 0;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans";
}

td {

font-size: 30px;
	
}

a:link {
  color: #800000;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

.center {
  text-align: center;
  font-family: "Open Sans";
}
}